@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.app-box {
  margin: 20px;
  min-height: 105vh;
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.book {
  width: 330px;
  height: fit-content;
  filter: grayscale(100%) opacity(90%);
  transition: filter 240ms;
}
.book:hover {
  filter: grayscale(0%) opacity(100%);
}
.book h2 {
  text-align: center;
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
}
.book .cover img {
  width: 100%;
  border-radius: 10px;
}

/* MESSAGES */
.msg {
  color: white;
  font-size: 0.85em;
  text-transform: uppercase;
  padding: 5px 10px;
}
.msg-green {
  background-color: seagreen;
}
.msg-red {
  background-color: tomato;
}

/* BUTTONS */
.btns {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.btn {
  border: none;
  padding: 5px 10px;
  color: white;
  background-color: grey;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.85em;
  display: inline-block;
  border-radius: 10px;
}
.btn:active {
  background-color: black;
}
.btn-del {
  background-color: tomato;
}
.btn-more {
  background-color: seagreen;
}
